body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.42857143;
  color: #c8c8c8;
  background-color: #272b30;
}

/* header and footer areas */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #3a3f44;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c8c8c8;
  background-color: #555555;
  border-radius: 4px;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #555555;
  border-left: 5px solid #ccc;
  padding: 3px 15px 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; background: #272b30}
th, td { padding: 5px;}
tr:nth-child(even) { background: #555555 }
tr:nth-child(odd) { background: #404040 }
/* line */
/* Reference
Author: Ibrahim Jabbari, web developer
URL: https://codepen.io/ibrahimjabbari/pen/ozinB */

hr.dash, hr.shadow, hr.gradient {
  margin: 30px 0px 0px 30px;
}

hr.dash {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

hr.shadow {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
  padding: 12px;
}

hr.gradient {
  border: 0px;
  height: 1px;
  padding: 3px;
  background-image: -webkit-linear-gradient(left, #33ff33, #272b30);
  background-image: -moz-linear-gradient(left, #33ff33, #272b30);
  background-image: -ms-linear-gradient(left, #33ff33, #272b30);
  background-image: -o-linear-gradient(left, #33ff33, #272b30);
}



/* speech bubble */
/* Reference
Author: Isabel Castillo, web developer
URL: https://isabelcastillo.com/error-info-messages-css */

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}


/* link */
/* Reference
Author: W3School
URL: https://www.w3schools.com/css/css_link.asp */

a:link { color: #99ff33; }
a:visited { color: #00cc00; }
a:hover { color: #66ffff; }
a:active { color: #00ff00; }


/* blockquote */
/* Reference
Author: Mark Peck
URL: https://codepen.io/doodlemarks/pen/sKhtC */

quote {
  position: relative;
  display: block;
  margin: auto;
  width: 800px;
  font-size: 40px;
  line-height: 56px;
  padding-left: 40px;
  border-left: 5px solid #00ff00;
}

quote span {
  display: block;
  text-align: right;
  font-size: 24px;
  line-height: 40px;
  margin-top: 10px;
  text-transform: uppercase;
}
